pre.app-code {
    background-color: var(--surface-ground);
    margin: 0 0 1rem 0;
    padding: 0;
    border-radius: var(--border-radius);
    overflow: auto;

    code {
        color: var(--surface-900);
        padding: 1rem;
        line-height: 1.5;
        display: block;
        font-family: monaco, Consolas, monospace;
    }
}

.launchpad-back {
    background-image: url("/Rectangle.png");
}

.input-back {
    background: rgba(83, 71, 231, 0.5);
    border-radius: 10px;
}

.success-msg {
    background: linear-gradient(117.26deg, rgba(83, 71, 231, 0.9) 6.49%, rgba(1, 98, 255, 0.9) 98.23%);
    border-radius: 15px;
    width: 200px;
    height: 300px;
    color: white;
}
.dashboardl-top-back{
    background: linear-gradient(180deg, rgba(1, 98, 255, 0.9) 0%, rgba(83, 71, 231, 0.9) 100%);;
    padding: 80px 10px 80px 10px;
    margin-top: -28px;
    margin-left: -56px;
    margin-right: -28px;
}
.right-collection-box{
    margin-left: 100px;
    margin-right: 100px;
}
.manage-colloection-back{
    background:linear-gradient(180deg, rgba(1, 98, 255, 0.9) 0%, rgba(83, 71, 231, 0.9) 100%);
    padding: 70px 0px 55px 0px;
    margin: -28px -28px 10px -56px;
    text-align: center;
    font-size: 27px;
    color: white;
}
.card-role{
    background: rgba(83, 71, 231, 0.4);
}
.dash-img-size{
    width: 300px;
    height: 300px;
}
.gap-right{
    gap: 100px;
}
.overflow-manage-left{
    height: 535px;
}
.overflow-dashboard-left{
    height: 550px;
}
.border-bottom-das{
    border-bottom: 1px solid;
    padding: 10px;
}
.input-market-search{
    width: 500px;
    border-radius: 25px;
}
.sucessnote-back {
    background: linear-gradient(181.75deg, rgba(83, 71, 231, 0.8) 9.97%, rgba(83, 71, 231, 0) 97.19%), #FFFFFF;
}
.edition-note{
    font-size: 15px;
}

.skip-button {
    border: 2px solid #5347E7;
    border-radius: 25px;
    padding: 10px 35px 10px 35px;
}

.update-marketplace {
    padding: 10px 50px 10px 50px;
}