name: build
on:
  push:
    branches: 
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v2
       - name: npm install
         run: |
           npm
  test:
     runs-on: ubuntu-latest
     needs: build
     strategy:
        matrix:
          os: [ubuntu-latest]
          node-version: 16
        steps:
          - uses: actions/checkout@v2
          - name: Use Node.js 16
            uses: actions/setup-node@v1
            with:
              node-version: '16'
          - name: npm install & test
            run: |
              npm
              npm test
            env:
              CI: true
build-and-deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build . --file Dockerfile --tag nextjs-blog --label "runnumber=${GITHUB_RUN_ID}"
      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Push image

      - name: Deploy Container to Digitalocean
        uses: appleboy/ssh-action@main
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          
          